* {
  margin: 0;
  padding: 0;
}
.mainContainer {
  background-image: url("/src/assets/pexels.jpg");
  opacit: 0.6;
  background-repeat: no-repeat;
  background-size: cover;
}
.box {
  background: white;
  height: 317px;
  width: 260px;
  border-radius: 10px;
}
.midContainer {
  display: flex;
}
.selectStyle {
  eight: 39px;
  border: none;
  border-radius: 5px;
}
.star-svg {
  fill: white;
}
.star-Svg {
  color: yellow;
}
.logoStyle {
  background-image: url("/src/assets/download.jpeg");
}
.borderStyle {
  border-radius: 11px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  margin: 25px;
}
.textStyle {
  margin: 25px;
}
.listStyle {
  display: flex;
  gap: 25px;
  list-style: none;
  cursor: pointer;
  align-items: center;
}
[type="button"]:not(:disabled),
.button:not(:disabled) {
  cursor: pointer;
  background: white;
}
.productContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 11px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 25px;
}
.imageStyle {
  width: 200px;
  height: 200px;
}
.inputStyle {
  margin: 25px;
}
.buttomStyle {
  margin: 25px;
}
.ProductContainerStyle {
  margin: 25px;
  position: absolute;
  margin-top: -284px;
}
.box {
  margin-bottom: 20px;
  background-color: white;
  padding: 20px;
  text-align: center;
}
@media (max-width: 768px) {
  .box {
    width: calc(50%-20px);
  }
}
@media (max-width: 480px) {
  .box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 439px;
  }
  .borderStyle {
    width: 100%;
  }
  .productContainer {
    /* width: 339px;
    height: 304px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(1, 1fr); */
    width: 100%;
  }
  .ProductStyle {
    width: 347px;
    margin: 11px;
  }
  .imageStyle {
    width: 345px;
    height: 277px;
  }
}
