* {
  margin: 0;
  padding: 0;
}
.leftSideContainer {
  display: flex;
}
.mainContainer {
  display: flex;
  justify-content: space-between;
  padding: 11px;
}
.headerStyle {
  display: flex;
}
.backgroundImageStyle {
  background-image: url("/src/assets/pexels.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.listStyle {
  display: flex;
  gap: 21px;
  list-style: none;
  cursor: pointer;
  color: white;
}
.boxStyle {
  background: white;
  height: 255px;
  width: 173px;
  border-radius: 10px;
  line-height: 36px;
  margin: 30px;
  padding: 10px;
}
.secondContainer {
  display: flex;
  justify-content: space-between;
}
.buttonStyle {
  background: #111121;
  border: none;
  border-radius: 5px;
  padding: 3px;
  color: white;
  width: 167px;
}
.mainStyle {
  height: 1000px;
}
.ListStyle {
  display: flex;
  gap: -28px;
  list-style: none;
  cursor: pointer;
  margin: 25px;
  padding: 7px;
  border-radius: 11px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  width: 61%;
  gap: 45px;
}
.ListStyle:hover {
  text-decoration: underline;
}
.contentStyle {
  margin: 11px;
}
.leftContainerStyle {
  color: white;
  padding: 11px;
  line-height: 30px;
}
.upperStyle {
  line-height: 30px;
}
.productContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 11px;
  background: #9e9999;
}
.ProductContainerStyle {
  margin: 25px;
  position: absolute;
  margin-top: -284px;
}
